<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">

        <form [formGroup]="formCadastro" (ngSubmit)="handleCadastrarUsuario()">
          <ul *ngIf="mensagensErro" class="mdl-textfield is-invalid">
            <li *ngFor="let erro of mensagensErro" class="mdl-textfield__error">
              {{erro.message}}: {{erro.value}}
            </li>
          </ul>
          <cmail-form-group [campo]="formCadastro.get('nome')">
            <input autofocus required type="text" name="nome" cmailFormField formControlName="nome">
            <!-- se tiver erros, entao... -->
            <div *ngIf="formCadastro.get('nome').errors">
              <!-- errors.required... -->

              <cmail-msg-erro *ngIf="formCadastro.get('nome').errors.required">
                Informar um nome é obrigatório!
              </cmail-msg-erro>

              <!-- errors.minlength... -->
              <cmail-msg-erro *ngIf="formCadastro.get('nome').errors.minlength">
                Você preencheu {{ formCadastro.get('nome').errors.minlength.actualLength }} caracteres
                de {{ formCadastro.get('nome').errors.minlength.requiredLength }}
              </cmail-msg-erro>
            </div>
          </cmail-form-group>


          <cmail-form-group [campo]="formCadastro.get('telefone')">
            <input formControlName="telefone" required type="text" name="telefone" cmailFormField>
            <div *ngIf="formCadastro.get('telefone').errors">
              <cmail-msg-erro *ngIf="formCadastro.get('telefone').errors.required">
                Informar um telefone é obrigatório!
              </cmail-msg-erro>
              <cmail-msg-erro *ngIf="formCadastro.get('telefone').errors.pattern">
                O telefone deve conter 8 ou 9 números.
                <!-- {{formCadastro.get('telefone').errors.pattern.requiredPattern }} -->
              </cmail-msg-erro>
            </div>
          </cmail-form-group>

          <cmail-form-group [campo]="formCadastro.get('username')">
            <input required type="text" name="username" cmailFormField formControlName="username">
            <cmail-msg-erro>Informar um nome de usuário é obrigatório!</cmail-msg-erro>
          </cmail-form-group>

          <cmail-form-group [campo]="formCadastro.get('senha')">
            <input required type="password" name="senha" cmailFormField formControlName="senha">
            <cmail-msg-erro>Informar uma senha é obrigatório!</cmail-msg-erro>
          </cmail-form-group>

          <cmail-form-group [campo]="formCadastro.get('avatar')">
            <input formControlName="avatar" type="text" name="avatar" cmailFormField>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('avatar').hasError('required')">
              Informar uma url com um avatar é obrigatório!
            </span>
            <span class="mdl-textfield__error mdl-textfield__checking"
              *ngIf="formCadastro.get('avatar').status === 'PENDING'">
              Validação pendente....
            </span>
            <span class="mdl-textfield__error mdl-textfield__valid"
              *ngIf="formCadastro.get('avatar').status === 'VALID'">
              URL Válida 􁚊
            </span>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('avatar').hasError('urlInvalida')">
              Erro na URL informada 􁚭
            </span>
          </cmail-form-group>

          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Cadastrar
            </button>
          </div>

        </form>
      </div>
    </div>
  </main>
</div>